html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Merriweather', serif;
}

.left {
  float: left;
  max-width: 40px;
}

.right {
  float: right;
  max-width: 40px;
}
