html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #d05c2e;
  padding: .5em;
  margin: 0;
}

h1 {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 2rem;
}

.left {
  float: left;
  max-width: 40px;
}

.right {
  float: right;
  max-width: 40px;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  display: inline-block;
  width: 30%;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-size: 1.125rem;
  margin: 0;
  border: 1px solid #a63f38;
}
